<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidTestPlat"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.myandroidtestplat.ui.bottomsheet.sample.BottomSheetFragmentActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.bottomsheet.sample.BottomSheetMainActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.bottomsheet.sample.ImagePickerActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.bottomsheet.sample.MenuActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.bottomsheet.sample.PickerActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.activity.FlipimageviewActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.activity.SmplesActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myandroidtestplat.ui.activity.ShareElementsActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.shareelements.ui.details.Details1Activity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelements.ui.list.ShareElementsListActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.contacts.ContactsActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.shareelementdemo2.contacts.ShareElements2DetailActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.advanced.AdvancedListActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.simple.SimpleToActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.simple.SimpleFromActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.simple.SimpleFragmentActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".ui.shareelementdemo2.SecondActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.ShareElement2Activity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.shareelementdemo2.advanced.AdvancedContentActivity"
            android:theme="@style/Theme.MyAndroidTestPlat.NoActionBar"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>